{{>header}}
<div class="container">
<img src="/img/{{story.image}}" class="img-fluid" alt="{{story.title}}">
<h4>{{story.title}}</h4>
<hr>
<p>{{{story.description}}}</p>
<p>{{{story.body}}}</p>
<hr>
</div>

{{>footer}}